.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 999; 
    transition: background-color 0.3s ease;
}

.loader-container.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinner {
    border: 0.8vw solid rgba(255, 255, 255, 0.3);
    border-top: 0.8vw solid #050e15;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    animation: spin 1s linear infinite;
    margin-bottom: 2vw; 
}

.loader-text {
    font-size: 2vw;
    color: #050e15; 
    font-weight: bold;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
